{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ sortie.nom }}</h1>
    <div class="row">
        <div class="col">
            <div class="row">
                <label>Nom de la sortie</label>
                <p>{{ sortie.nom }}</p>
            </div>
            <div class="row">
                <label>Date et heure de la sortie</label>
                <p>{{ sortie.dateHeureDebut }}</p>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

